
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-hover);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text-brand);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-brand-hover);
}
