{% extends 'layout/master.html.twig' %}

{% block body %}
    <nav>
        <ul>
            <li>Home</li>
            <li><a href="{{ path('doc.index') }}">References</a></li>
            <li><a href="{{ path('blog.index') }}">Blog</a></li>
        </ul>
    </nav>
{% endblock %}
