{% extends 'layout/master.html.twig' %}

{% block body %}
    <nav>
        <ul>
            <li>
                <h1>Logo</h1>
            </li>
        </ul>
        <ul>
            <li>Home</li>
            <li>
                <details class="dropdown">
                    <summary role="button" class="outline secondary">
                        <a href="{{ path('doc.index') }}">References</a>
                    </summary>
                    <ul dir="rtl">
                        {% for category in categories %}
                        <li><a href="#">{{ category.title }}</a></li>
                        {% endfor %}
                    </ul>
                </details>
            </li>
            <li><a href="{{ path('blog.index') }}">Blog</a></li>
        </ul>
    </nav>
{% endblock %}
