{% extends 'layout/master.html.twig' %}

{% block body %}

    <boson-landing-layout>
        <hero-section></hero-section>
        <nativeness-section></nativeness-section>
        <solves-section></solves-section>
        <div>
            <how-it-works-section></how-it-works-section>
            <right-choice-section></right-choice-section>
            <mobile-development-section></mobile-development-section>
        </div>
        <testimonials-section></testimonials-section>
        <call-to-action-section></call-to-action-section>
    </boson-landing-layout>

{% endblock %}
