{% extends 'layout/master.html.twig' %}

{% block title %}
    Documentation :: {{ parent() }}
{% endblock %}

{% block body %}

    <h1>Documentation</h1>

    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li>Documentation</li>
        </ul>
    </nav>

    <div>
        <h2>{{ page.title }}</h2>
        <article>
            {{ page.content | raw }}
        </article>
    </div>

{% endblock %}
